/* This External CSS which is used for Styling Multiple Pages at once. */

body {
    background-color: #B4CFB0;

}

hr {
    border-style: none;
    border-top-style: dotted;
    border-width: 7px;
    border-color: #789395;
    height: 0px;
/*  width: 70px  */
    width: 30%;

}

h1{
    color: #5463FF;
}

h2{
    color: #1C658C;
}